.polirural-barchart-race {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .chart-container {
    flex: 1;

    svg {

      text {
        font-size: 16px;
        font-family: Open Sans, sans-serif;
      }

      text.title {
        font-size: 2em;
        font-weight: 500;
      }

      text.subTitle {
        font-size: 1em;
        font-weight: 500;
        fill: #777777;
      }

      text.caption {
        font-weight: 400;
        font-size: 14px;
        fill: #777777;
      }
      
      text.timeStep {
        font-size: 4em;
        font-weight: 700;
        opacity: 0.25;
      }

      text.label {
        tspan.name {
          font-weight: 600;
        }
        tspan.value {
          font-weight: 300;
        }
      }

      .tick text {
        fill: #777777;
      }

      .xAxis .tick:nth-child(2) text {
        text-anchor: start;
      }

      .tick line {
        shape-rendering: CrispEdges;
        stroke: #dddddd;
      }

      .tick line.origin {
        stroke: #aaaaaa;
      }

      path.domain {
        display: none;
      }

    }

  }

  div.action-buttons {
    height: 2em;
    display: flex;
    flex-direction: row;
    gap: .5em;

    button {
      border: 2px outset;
      text-transform: uppercase;
      font-size: .8em;
      flex: 1;
      background-color: lightgray;
      color: #444444;
    }

    button:hover {
      background-color: darkgray;
    }

    button:pressed {
      background-color: gray;
    }
  }

}